@model ProjectModels.Client

@{
    ViewBag.Title = "Create";
}

<h2 class="win-h2">Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 center-block">
            <h4>Client</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Name, "Nombre", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "win-textbox" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BillName, "Nombre Factura", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.BillName, new { htmlAttributes = new { @class = "win-textbox" } })
                @Html.ValidationMessageFor(model => model.BillName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ClientType, "Tipo Cliente", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ClientType", null, htmlAttributes: new { @class = "win-textbox" })
                @Html.ValidationMessageFor(model => model.ClientType, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.DocumentId, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DocumentId, new { htmlAttributes = new { @class = "win-textbox" } })
                @Html.ValidationMessageFor(model => model.DocumentId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "win-textbox" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "win-textbox" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="col-md-10">
                <input type="submit" value="Guardar" class="btn btn-lg win-button" />
            </div>      
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
